// V Project Custom Style
$font-color: #4c4c4c;
$line-color: #e2e2e2;
$border-color: #d8d8d8;
$primary-color: #0088cc;


html,
body,
body > .app {
  min-width: 995px;
  background-color: #fff;
}

* {
  outline: none !important;
  box-sizing: border-box;
}


/**
 * Header
 */
.app-header.navbar {
  height: 60px;
  border-bottom: 0;
  background-color: #1d2127;
  .navbar-brand {
    width: 207px;
    border-right: 1px solid #2f3139;
    border-bottom: 0;
    background-color: inherit;
    background-size: auto auto;
  }
}

/**
 * Sidebar
 */
.sidebar-fixed .sidebar {
  width: 207px;
  .sidebar-nav {
    width: 207px;
    height: calc(100vh - 60px);
  }
  .nav {
    width: 207px;
  }
}

.sidebar-fixed .main {
  margin-left: 207px;
}

/**
 * Layout
 */
.header-fixed .app-body {
  margin-top: 60px;
}
.main > .container-fluid {
  padding: 0 20px 60px 20px
}


/**
 * Title & Breadcrumb
 */
.page-title {
  position: relative;
  margin-bottom: 20px;
  background-color: #fff;
  border-bottom: 1px solid #d8d8d8;

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  h1 {
    float: left;
    font-size: 1rem;
    line-height: 45px;
    padding: 0 20px;
    margin: 0 0 -1px 0;
    color: #2e353e;
    border-bottom: 1px solid $primary-color;
  }
  .breadcrumb {
    float: right;
    padding: 12px 20px 11px 0;
    margin: 0;
    border: 0;
    a {
      color: #777;
    }
  }
}


/**
 * Sub title & Nav Tabs
 */
.page-sub-title {
  padding: 0 20px;
  margin: -20px -20px 20px -20px;
  background: #f5f5f5;
  border-bottom: 1px solid $line-color;

  &:after {
    content: '';
    display: block;
    clear: both;
  }
  h2 {
    float: left;
    font-size: inherit;
    line-height: 40px;
    height: 40px;
    margin: 0;

    i {
      font-size: 12px;
      font-weight: bold;
      color: $primary-color;
      margin-right: 3px;
    }
  }
  .sub-navs {
    float: right;
    .nav-link {
      text-align: center;
      color: $font-color;
      padding: 0.6rem 1rem;
    }
    .nav-link.active {
      font-weight: bold;
      color: #fff;
      background-color: $primary-color;

      &:after {
        content: '';
        display: block;
        width: 0;
        margin: 0.25rem auto -0.6rem;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #fff;
      }
    }
  }
}


/**
 * Button
 */
.btn {
  min-width: 40px;
  height: 30px;
  padding: 5px 15px 6px 15px;
  border-radius: 3px;
}

.btn:hover,
.btn:focus,
.btn:active {
  box-shadow: none;
}

.btn-primary {
  background-color: $primary-color;
}
.btn-outline-secondary {
  color: #626262;
  border-color: #ccc;
}



/**
 * Form control
 */
.form-control {
  height: 30px;
  border-radius: 3px;
  border-color: $border-color;
}



/**
 * MultiSelect
 */
.multiselect {
  min-height: 30px;

  .multiselect__tags {
    min-height: 30px;
    padding: 4px 30px 0 4px;
    border-radius: 3px;
    border-color: $border-color;
  }
  .multiselect__tag {
    margin-bottom: 0;
  }
  .multiselect__single {
    margin-bottom: 0;
  }
  .multiselect__select {
    width: 28px;
    height: 28px;
    padding: 0 8px;
  }
  .multiselect__spinner {
    width: 38px;
    height: 28px;
  }
  .multiselect__input {
    margin-bottom: 4px;
  }
  .multiselect__element {
    height: auto;
  }
  .multiselect__option {
    min-height: 28px;
    padding: 6px 10px;
  }
  .multiselect__content-wrapper {
    border-color: $border-color;
  }
  .multiselect__input,
  .multiselect__single,
  .multiselect__option {
    font-size: 0.825rem;
  }

  &.noEmpty .multiselect__option--highlight {
    background: #41B886 !important;
  }
}



/**
 * Search Form Box
 */
.searchBox {
  position: relative;
  margin-bottom: 10px;
  padding: 10px 100px 10px 30px;
  border-radius: 5px;
  border: 1px solid #cdd8dd;
  background-color: #f6fafc;

  .form-group {
    display: flex;
    margin-top: 10px;
    margin-bottom: 0;
  }
  .form-group:first-child {
    margin-top: 0;
  }

  .form-row {
    margin: 0;
  }
  .multiselect,
  .form-date {
    width: 130px;
  }

  .form-row.inline {
    .form-control.keyword {
      width: 210px;
    }
    .form-control {
      margin-top: -1px;
    }
    .multiselect,
    .form-control {
      vertical-align: middle;
      display: inline-block;
    }
  }
  .form-row > [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
    flex: none;
  }

  .col-form-label {
    min-width: 75px;
    max-width: 75px;
    padding-top: calc(0.4rem - 1px * 2);
    padding-bottom: calc(0.4rem - 1px * 2);
  }
  .label-lg .col-form-label {
    min-width: 105px;
    max-width: 105px;
  }
  .col-sm-3 {
    min-width: 1%;
  }
  .col-sm-9 {
    width: auto;
    min-width: 80%;
  }
  .label-lg .col-sm-9 {
    min-width: 1%;
  }

  .btn-day {
    width: 40px;
    height: 20px;
    padding: 0;
    font-size: 11px;
    border-radius: 3px;
    border: 1px solid $border-color;
    background: #fff;

    &:hover,
    &:focus,
    &:active {
      color: #fff;
      background: #00476a;
    }
  }

  .search-btn {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -35px;
    padding: 0 20px;

    .btn {
      display: block;
      margin: 5px 0;
    }
  }
}



.collapse-title {
  margin-bottom: 10px;
  .btn {
    text-align: left;
    border-radius: 0;
    i {
      float: right;
    }
  }
}

.domain-text {
  font-size: 0.8rem;
  line-height: 33px;
}

/**
 * Table
 */
@each $color, $value in $theme-colors {
  @include text-emphasis-variant('.table-text-#{$color}', $value);
}



/*
.table {
  tfoot th {
    border-top: (2 * $table-border-width) solid $table-border-color;
    border-bottom: (1 * $table-border-width) solid $table-border-color;
  }
}
*/

/**
 * Button
 */
.btn-outline-primary,
.btn-outline-secondary,
.btn-outline-success,
.btn-outline-danger {
  background: #fff;
}
.btn.only-icon {
  font-size: 1rem;
}
.page-btn {
  margin-top: 30px;
  text-align: right;
}



/**
 * Card
 */
.card {
  .switch {
    margin: 0.4rem 0 0
  }
  .card-header {
    .btn-sm,
    .btn-group-sm > .btn {
      margin-bottom: -0.25rem;
    }
  }
}

.card-title {
  margin-bottom: 0;
  line-height: 2rem;
}
.card-footer {
  background: #fff;
  border-top-color: #ddd;
  .form-btn {
    text-align: right;
  }
}
/*
.card {
  .btn-sm,
  .btn-outline-secondary,
  .btn-group-sm > .btn {
    &:focus,
    &.focus {
      box-shadow: none;
    }
    &:active,
    &.active {
      box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
    }
  }
}

.card-body {
  .table {
    margin-bottom: 0;
    th, td {
      padding: 0.5em;
      font-size: .8rem;
    }
  }
}
*/


/**
 * Form
 */
.search.card .card-body .form-group:last-child {
  margin-bottom: 0;
}
.search.card .card-footer {
  text-align: center;
}

.card-body {
  .form-group {
    &:last-child,
    .form-group {
      margin-bottom: 0;
    }
    .badge {
      padding: 4px 10px;
      border-radius: 5px;
      margin: 8px 10px 0 0;
    }
  }
}

.form-control.inline {
  display: inline-block;
}

.input-group {
  .form-control,
  .input-group-btn:not(:first-child) > .btn,
  .input-group-btn:not(:first-child) > .btn-group {
    z-index: 0;
  }
}

.inline-field {
  padding-left: 15px;
  padding-right: 15px;
}
.date-field {
  .form-control {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
}

.form-in-group {
  label {
    background: #f1f1f1;
  }
  .form-group {
    margin: 5px 0;
    [type=date] {
      width: 50%;
    }
  }
}

.custom-control {
  margin-top: .3rem;
}


@media (min-width: 576px) {
  .inline-field {
    padding-left: 0;
  }
  .date-field {
    .form-control {
      margin-top: 0;
    }

    .btn-group {
      margin-bottom: .5rem
    }
  }
}

/**
 * Multiple Select
 */
.multiselect__tag {
  margin-bottom: 3px;
}

/* View Style */
.multiselect.multiselect--disabled.view-type {
  background: none;
  opacity: 1;
  display: inline-block;
  width: auto;
  vertical-align: middle;

  .multiselect__select,
  .multiselect__spinner,
  .multiselect__tag-icon {
    display: none;
  }
  .multiselect__input {
    padding: 0;
    &:disabled {
      color: #151b1e;
    }
    &::placeholder {
      color: #fff;
    }
  }
  .multiselect__tags {
    padding-left: 0;
    padding-right: 0;
    border: 0;
  }
  .multiselect__tag {
    padding-right: 10px;
    background: #4dbd74;
  }
}

/* Pops */
.multiselect.pops {
  position: relative;
  min-width: 110px;

  .multiselect__single {
    display: none;
  }

  .multiselect__content-wrapper {
    top: 38px;
    left: 0;
  }

  .highlight {
    background: #41b883;
    color: #fff;
  }
  .selected {
    background: #f3f3f3;
    color: #35495e;
    font-weight: 700;
  }
  .multiselect__tag {
    margin-right: 0;
  }

}
.multiselect.disSelect {
  pointer-events: none;
  cursor: default;
  .multiselect__tag-icon {
    pointer-events: all;
    cursor: pointer;
  }
}


/* Add Mode */
.multiselect.addMode {
  .multiselect__tag-icon {
    display: none;
  }
  .multiselect__tag {
    padding-right: 10px;
  }
}

.multiselect.inline {
  display: inline-block;
  width: auto;
}



.icons-list li {
  height: auto;
  margin-top: 10px;

  &:after {
    clear:both;
    content: '';
    display: block;
  }
  &:first-child {
    margin-top: 0;
  }
  > i {
    font-style: normal;
    font-size: 0.5rem;
    margin-top: 20px;
    width: 38px !important;
    height: 30px !important;
    line-height: 30px !important;
  }
  .btn.list-del {
    padding: 0;
    i {
      margin: 0;
      float: none;
    }
  }
  .desc {
    height: auto !important;
    padding-bottom: 5px;
    padding-right: 135px;

    &.edge {
      padding-right: 155px;
    }
  }
  .value {
    top: 0;
    right: 2px;
    .small {
      margin-bottom: 2px;
    }
  }
}
.icons-list.list-view li {
  i {
    margin-top: 15px;
  }
}
.icons-list.list-noIcon {
  margin-top: 15px;
  .desc {
    margin-left: 0;
  }
}
.icons-list.edge li {
  i {
    margin-top: 0;
  }
  .desc {
    padding-right: 0;
  }
}

  /**
   * Modal
   */
.modal-dialog {
  margin: 80px auto;
}


/**
 * Board
 */
.board-btn {
  margin-bottom: 10px;
  text-align: right;
}
section.board {
  clear: both;
  background: #fff;

  .table {
    margin: 0;
    border-top: 0;
  }
  th, td {
    vertical-align: middle;
    text-align: center;
  }
  .table-hover td {
    cursor: pointer
  }
  label.switch {
    margin-bottom: 0
  }
}


pre.code {
  border: 1px solid #ddd;
  background: #f0f0f0;
  overflow: auto;
}


/**
 * History Mode
 */
.history-mode {
  header,
  .sidebar,
  .breadcrumb,
  .page-btn {
    display: none;
  }
  .main {
    margin-left: 0 !important;
  }

  .app-body,
  .page-title {
    margin-top: 0 !important;

    .nav-item a,
    .btn.only-icon {
      pointer-events: none;
    }
  }
}

/**
 * Dashboard
 */
.dnd-grid-box .card-body {
  padding: 15px;
}
