/**
 * Dashboard
 */

.dashHeader {
  position: relative;
  z-index: 100;
  margin-bottom: 10px;

  .select-temp {
    margin-right: 20px;
    min-width: 180px;
  }

  .btn-only-icon {
    .fa-th-large {
      transform: scale(0.9, 1);
    }
  }

  .v-switch.switch-text {
    .switch-handle {
      background: #b2b2b2;
      border: 0;
    }
    .switch-input:checked ~ .switch-handle {
      background: #58595d;
    }
    .switch-label {
      border-color: #d1d1d1;
      background-color: #e4e4e4;
    }
    .switch-label::after {
      color: #fff;
    }
    .switch-label::before {
      color: #4f4f4f;
    }
    .switch-input:checked ~ .switch-label {
      border-color: transparent;
      background: #01040e !important;
    }
  }
}

$dnd-time: 0.4s;
$dnd-function: ease-out;
.dnd-grid-box:not(.dragging):not(.resizing) {
  transition: top $dnd-function $dnd-time,
              left $dnd-function $dnd-time,
              width $dnd-function $dnd-time,
              height $dnd-function $dnd-time;
}

.dash-box {
  width: 100%;
  height: 100%;

  .btn-group .btn-only-icon {
    margin-left: 0.3rem;
    border-radius: 3px !important;

    span {
      line-height: 24px;
    }
  }

  .card-body {
    padding: 15px;
  }

  .map-box .info {
    padding: 3px;
    background: rgba(61,61,61,0.5);
    //box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    color:rgba(255, 255, 255, 0.9);
  }
  .map-box .info h4 {
    margin: 0 0 5px;
    color: #777;
  }
  .map-box .legend {
    text-align: left;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.8);
    padding: 6px 8px;
    background: #fff;
    background: rgba(61,61,61,0.5);
    //box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
  }
  .map-box .legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }
  .leaflet-container {
    background: transparent;
  }
  .leaflet-bottom .leaflet-control{
    margin-bottom:20px;
  }
}

// Dark Theme
body > .app {
  transition: background .2s ease-out;
}
body.dark > .app {
  background: #181a20;

  .page-title {
    border-color: #2f3139;
    h1 {
      color: #fefefe;
    }
  }

  .multiselect {
    color: #fefefe;
  }
  .multiselect__input,
  .multiselect__single {
    background: transparent;
  }
  .multiselect__tags {
    border-color: #181a20;
    background-color: #01040e;
  }
  .multiselect__select:before {
    border-color: #d3d3d3 transparent transparent;
  }
  .multiselect .multiselect__content-wrapper {
    border-color: #181a20;
    background-color: #01040e;
  }
  .multiselect__option--selected {
    color: inherit;
    font-weight: normal;
    background: transparent;
  }

  .card {
    background: #282d36;
    border-color: #282d36;

    .card-header {
      color: #fefefe;
      border-color: #181a20;
    }
  }

  .btn-only-icon {
    &:hover,
    &:focus,
    &:active
    &.active,
    &.active.focus {
      background: #111;
      color: #fff;
    }
  }

  .btn-group {
    label.btn-only-icon {
      &.active,
      &.active.focus {
        background: #111;
        color: #fff;
      }
    }
  }

  .modal-dialog{
    .multiselect__tags{
      border-color:#d8d8d8;
      background:#fff;
      color:#35495e;
    }
    .multiselect__content-wrapper{
      border-color:#d8d8d8;
      background:#fff;
      color:#35495e;
    }
    .multiselect__option--highlight{
      color:#fff;
    }
  }
}




/**
 * highcharts
 */
.highcharts-color-0 {
  fill: #0088cc !important;
  stroke: #0088cc !important;
}

.highcharts-color-1 {
  fill: #734ba9 !important;
  stroke: #734ba9 !important;
}

.highcharts-color-2 {
  fill: #2baab1 !important;
  stroke: #2baab1 !important;
}

.highcharts-color-3 {
  fill: #e36159 !important;
  stroke: #e36159 !important;
}

.highcharts-color-4 {
  fill: #eb8bc7 !important;
  stroke: #eb8bc7 !important;
}

.highcharts-color-5 {
  fill: #5fb700 !important;
  stroke: #5fb700 !important;
}

.highcharts-color-6 {
  fill: #ff9c41 !important;
  stroke: #ff9c41 !important;
}

.highcharts-color-7 {
  fill: #47a447 ;
  stroke: #47a447;
}

.highcharts-color-8 {
  fill: #e92c81;
  stroke: #e92c81;
}

.highcharts-color-9 {
  fill: #ffd515;
  stroke: #ffd515;
}

.highcharts-area{
  fill:inherit;
  opacity: 0.4;
}
.highcharts-markers path{
  fill:inherit;
  stroke:inherit;
  stroke-opacity:0.2;
}
.highcharts-legend-item > .highcharts-point{
  fill:inherit;
}
.highcharts-legend-item > .highcharts-graph,
.highcharts-color-0 > .highcharts-graph,
.highcharts-color-1 > .highcharts-graph,
.highcharts-color-2 > .highcharts-graph,
.highcharts-color-3 > .highcharts-graph,
.highcharts-color-4 > .highcharts-graph,
.highcharts-color-5 > .highcharts-graph,
.highcharts-color-6 > .highcharts-graph,
.highcharts-color-7 > .highcharts-graph,
.highcharts-color-8 > .highcharts-graph,
.highcharts-color-9 > .highcharts-graph{
  stroke:inherit;
}

.highcharts-legend-item-hidden>.highcharts-point,
.highcharts-legend-item-hidden>.highcharts-graph{
  fill: #ccc !important;
  stroke: rgba(204,204,204,0.1) !important;
}

.highcharts-legend-item text{
  color:transparent !important;
  font-weight:normal !important;
  font-size:11px !important;
  fill:#333 !important;
  stroke:transparent !important;
}
.highcharts-title{
  color:#333;
  fill:#333;
}
.highcharts-text-outline{
  color:#333;
  font-weight:normal !important;
  fill: transparent !important;
  stroke: none;
  stroke-width: 0;
  stroke-linejoin: none;
}
.highcharts-data-label > text, .highcharts-label > text{
  color:transparent !important;
  font-weight:normal !important;
  fill:#333 !important;
  stroke:transparent !important;
}
.highcharts-pie-series > .highcharts-color-0{
  stroke-opacity:0.2;

}
body.dark {
  .highcharts-background {
    fill: #282d36;
  }
  .highcharts-axis-labels text,
  .highcharts-legend-item text {
    fill: #777 !important;
  }
  .highcharts-yaxis-grid .highcharts-grid-line {
    stroke: #555;
  }
  .highcharts-data-label > text {
    color:transparent !important;
    font-weight:normal !important;
    fill:rgba(255,255,255, 0.8) !important;
    stroke:transparent !important;
  }

}
