/**
 * Login
 */
.login-page {
  background: url(../img/bglogin.png) left top repeat;

  input,
  input:focus,
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus
  input:-webkit-autofill {
    color: #585d6b;
    border: 1px solid #10151d;
    background-color: #151b25;
    -webkit-text-fill-color: #585d6b;
    -webkit-box-shadow: 0 0 0px 1000px #151b25 inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

.login-box {
  width: 421px;
  height: 473px;
  box-sizing: border-box;
  padding: 210px 20px 20px;
  background-image: url(../img/login.png);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .5);

  .input-group {
    margin-bottom: 12px;

    input{
      height:40px;
    }
  }

  .btn-login {
    height: 40px;
    color: #fff;
    border: 0;
    margin-bottom: 15px;
    border-radius: 3px;
    background: #f2900c; /* Old browsers */
    background: linear-gradient(to bottom, #f2900c 51%,#f2900c 51%,#fe6401 100%);
    font-weight:bold;

    &:hover,
    &:active {
      background: #fe6401;
      background: linear-gradient(to bottom, #fe6401 51%,#fe6401 51%,#f2900c 100%);
    }
  }

  .row {
    margin: 0;
    .col-6 {
      padding: 0;
      margin-right: -1px;
    }
  }

  .btn-login-link {
    font-size: 0.7rem;
    height: 27px;
    border: 1px solid #32363f;
    border-radius: 0;
    color: #5f6166;
    background: #282d36;

    &:hover,
    &:active {
      color: #fff;
    }
  }

  .text-muted {
    font-size: 0.5rem;
  }

  .warning {
    font-size: 0.5rem;
    margin-top: 15px;
    color: #e7554b;
    text-align: center;
  }
}

/**
 * Register (운영자 가입신청)
 */
.register {
  width: 800px;
  border: 0;
  background: transparent;

  .card-header {
    height: 63px;
    padding: 28px 0 0 20px;
    color: #d4d5d7;
    font-weight: bold;
    border-bottom: 1px solid #1d2127;
    border-radius: 3px 3px 0 0;
    background: url(../img/register-logo.png) 136px 13px no-repeat #282d36;
  }

  .card-body {
    padding: 0 20px;
    color: #7b8191;
    background: #2e353e;

    .form-text.text-muted {
      color: #7b8191 !important;
    }

    .form-group {
      position: relative;
      margin: 0;
      padding: 10px 0;
      border-bottom: 1px dotted #23282f;

      .form-text {
        position: absolute;
        top: 3px;
        right: 0;
      }
    }

    .form-control,
    .multiselect {
      width: 300px;
    }

    .input-group {
      width: 320px;
      .ico {
        margin: 3px 0 0 7px;
      }
    }

    .multiselect__tags {
      border-color: #10151d;
      background-color: #151b25;
    }
    .multiselect__spinner {
      background: transparent;
    }
    .multiselect__input {
      border: 0;
    }

  }

  .card-footer {
    text-align: right;
    background: #2e353e;
    border: 0;
    border-radius: 0 0 3px 3px;
  }
}
